html {
  position: center;
  width: 60%;
  margin: auto;
}

body {
  font: Normal 21px "Century Gothic";
  width: 70%;
  margin: auto;
}

p:strong {
  font-size: 30px;
}

#link {
  color: black;
}

#horaAgora {
  font-size: 50pt;
}

#link:hover {
  color: #01ffff;
  text-decoration: none;
}